<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href='/'>home</a>
	<a href='/about/'>About</a>
	<a href='/contact/'>Contact</a>
	<a href='/history/'>History</a>
	<a href='/blog/list/'>Blogs</a>
	<h2> Blog list</h2>
	{% for post in postlist %}
	<h2> {{post.title}}</h2>
	<h6> {{post.posted_by}}</h6>
	<h6> {{post.date}}</h6>
	<p> {{post.content|truncatechars:'50'}}</p>
	<a href='/blog/{{post.id}}/detail/'>Read more</a>
	{% endfor %}
</body>
</html>