<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style='background-color: grey;'>
<a href='/'>home</a>
	<a href='/about/'>About</a>
	<a href='/contact/'>Contact</a>
	<a href='/history/'>History</a>
	<a href='/blog/list/'>Blogs</a>
	<a href='/blogs/create/'>Add new Blog</a>
	<h2>Blog</h2>
	<h2> {{postdetail.title}}</h2>
	<a href="/post/{{postdetail.id}}/edit/">Update</a>
	<a href="/post/{{postdetail.id}}/del/">delete</a>

	{% if postdetail.image %}
	<img src="{{postdetail.image.url}}" width="500"> 
	<!-- <img src="{{postdetail.video.url}}" width="500">  -->
	{% endif %}

	<h6> {{postdetail.posted_by}}</h6>
	<h6> {{postdetail.date}}</h6>
	<p style="font-family:cursive; "> {{postdetail.content}}</p>
	<h4>Comments:</h4>
	<div style='background-color: red;color:white;padding: 10px;border:5px dashed black;'>
		{% for comment in postdetail.comment_set.all %}
		<p>{{comment.comment}}</p>
		<h6>{{comment.commented_by}}</h6>
		<h6>{{comment.date}}</h6>
		<hr>
		{% endfor %}
	</div>
	
</body>
</html>