<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href='/'>home</a>
	<a href='/about/'>About</a>
	<a href='/contact/'>Contact</a>
	<a href='/history/'>History</a>
	<a href='/blog/list/'>Blogs</a>
	<a href='/blogs/create/'>Add new Blog</a>

<form method="POST">
	{% csrf_token %}
	<h4>Sachchai delete garne ho?</h4>
	<button>Ho ni</button>
</form>
</body>
</html>