<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3> Create New comment</h3>
<form method='POST' enctype='multipart/form-data'>
	{% csrf_token %}
	{{form.as_p}}
	<button>submit</button>
</form>



</body>
</html>