<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<a href='/'>home</a>
	<a href='/about/'>About</a>
	<a href='/contact/'>Contact</a>
	<a href='/history/'>History</a>
	<a href='/blog/list/'>Blogs</a>
	<a href='/blogs/create/'>Add new Blog</a>	
<h2>Contact Us at Sarobartech Tutepani</h2>



<h3>All posts</h3><hr>
{% for i in abcdef %}
	<li><a href="/blog/{{i.id}}/detail/">{{i.title}}</a></li>
	<img src="{{i.image.url}}" width="100">

{% endfor %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767.0565584256608!2d85.31682007593814!3d27.65197177153897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb177945fce439%3A0xef485e93b096f9e8!2sNakhipot%2C+Lalitpur+44700!5e0!3m2!1sen!2snp!4v1563711999683!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>