<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href='/'>home</a>
	<a href='/about/'>About</a>
	<a href='/contact/'>Contact</a>
	<a href='/history/'>History</a>
	<a href='/blog/list/'>Blogs</a>
	<a href='/blogs/create/'>Add new Blog</a>
<h2>welcome to homepage</h2>
<p>{{data_name}}. I am {{age}} years old.</p>
<h3>All posts</h3><hr>
{% for i in myposts %}
	<li><a href="/blog/{{i.id}}/detail/">{{i.title}}</a></li>
	<img src="{{i.image.url}}" width="100">

{% endfor %}

</body>
</html>